<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div>
              <h1>Coach Answer</h1>
              <p></p>
            </div>
            <hr>

            <div>
              <blockquote class="blockquote you">
                <p class="mb-0"><%= @answer %></p>
                <footer class="blockquote-footer">You</footer>
              </blockquote>
            </div>

            <blockquote class="blockquote coach">
              <p class="mb-0"><%= @coach_message %></p>
              <footer class="blockquote-footer">Coach</footer>
            </blockquote>

            <div>
              <hr>
              <%= link_to "Ask a new question", ask_path %>
              <!-- <a href='ask.html'>Ask a new question</a> -->
            </div>

        </div>



    </div>

</div>
