// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

a {
  color: light-blue;
  &:hover {
    color: black;
  }
}

.container {
  margin: 100px;
}

.you {
  border-left: 4px solid gray;
  padding-left: 10px;
}

.coach {
  border-left: 4px solid gray;
  padding-left: 10px;
  background-color: #ffe7d1;
}
